* {
  font-family: "Platypi", serif;
}

body {
  background-color: #faf8f5;
  background-size: cover;
}


.container {
  background-color: rgb(252, 255, 218);
}

.min-vh {
  min-height: 100vh;
}

.fs-regular {
  font-family: "Inter", serif !important;
}

.pt-300 {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.pt-500 {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.wall-bg {
  position: relative;
}

.wall--heading {
  padding-left: 100px;
  padding-top: 80px;
}

.login-inner {
  margin: auto;
  padding: 2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  animation: login 0.5s forwards cubic-bezier(0.2, 2, 0.4, 1);
}

.card-group.card-group-scroll {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card-group.card-group-scroll>.card {
  flex-basis: 35%;
}